.home-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.search-container {
  display: flex;
  position: relative;
  align-items: center;
}
.search-container img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}
.search-container input {
  width: 450px;
  padding: 4px 14px;
  padding-left: 40px;
  height: 34px;
  outline: none;
  border: 1px solid #333;
  background: #f7f3f3;
  border-radius: 20px;
}
.home-blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.home-more-blogs {
  padding: 4px 20px;
  border-radius: 6px;
  background: #8b3a3a;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 400px) {
  .home-blogs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .home-container {
    padding: 20px;
    gap: 20px;
  }
  .search-container input {
    width: 270px;
  }
}

@media (min-width: 400px) and (max-width: 620px) {
  .home-blogs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .home-container {
    padding: 20px;
    gap: 20px;
  }
  .search-container input {
    width: 370px;
  }
}

@media (min-width: 860px) and (max-width: 1090px) {
  .home-blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  .home-container {
    padding: 20px;
    gap: 20px;
  }
}
